.icon {
  width: 64px;
  vertical-align: top;
  border: 1px solid salmon;
}

canvas {
  border: 1px solid #000000;
  border-radius: 15px;
  /*filter: drop-shadow(5px 5px 8px #000000);*/
  fill: #ffffff;
  cursor: none;
}

button {
  width: 80px;
  height: 30px;
  font-size: medium;
}

p {
  font-size: x-large;
  line-height: 0;
}
